<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bravo_gazebo"
               params="
      prefix
      namespace
      controllers_file">

    <!-- ros2_control -->
    <gazebo>
      <plugin filename="gz_ros2_control-system"
              name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <xacro:if value="${namespace != '/'}">
          <ros>
            <namespace>/${namespace[:-1]}</namespace>
          </ros>
          <robot_param_node>/${namespace}robot_state_publisher</robot_param_node>
        </xacro:if>
        <parameters>$(find reach_description)/config/bravo/${controllers_file}</parameters>
      </plugin>
    </gazebo>

    <!-- Materials -->
    <gazebo reference="${prefix}bravo_base_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1019_end_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1013_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1026_0_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1026_1_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1023_0_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_ft_sensor_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_1023_1_joint_link">
      <material>Gazebo/Gray</material>
    </gazebo>
    <gazebo reference="${prefix}bravo_push_rod">
      <material>Gazebo/Gray</material>
    </gazebo>

  </xacro:macro>

</robot>
