<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="bravo_system"
               params="prefix
                       ip_address
                       port
                       state_request_rate
                       initial_positions_file
                       use_fake_hardware:=^true">

    <xacro:property name="initial_positions"
                    value="${xacro.load_yaml('$(find reach_description)/config/bravo_7/$(arg initial_positions_file)')['initial_positions']}" />

    <ros2_control name="${prefix}ReachBravo7"
                  type="system">

      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>bravo_hardware/BravoHardware</plugin>
          <param name="ip_address">${ip_address}</param>
          <param name="port">${port}</param>
          <param name="state_request_rate">${state_request_rate}</param>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}axis_a">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.035</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-10.0</param>
          <param name="max">10.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_a']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_b">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.28</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_b']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_c">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_c']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_d">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.2</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_d']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_e">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.2</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_e']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_f">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_f']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_g">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.2</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-6.0</param>
          <param name="max">6.0</param>
        </command_interface>
        <command_interface name="effort">
          <param name="min">-500</param>
          <param name="max">500</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_g']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
