name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  CLANG_TIDY: true

jobs:
  test:
    name: Test Implementation
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        env:
          - ROS_DISTRO: rolling
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run ROS Industrial CI
        uses: ros-industrial/industrial_ci@master
        env:
          ROS_DISTRO: ${{ matrix.env.ROS_DISTRO }}
          CXXFLAGS: -Wall -Wextra -Wpedantic
          CLANG_TIDY: true
          ADDITIONAL_DEBS: gir1.2-gstreamer-1.0 libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer-plugins-bad1.0-dev gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-bad gstreamer1.0-plugins-ugly gstreamer1.0-libav gstreamer1.0-tools gstreamer1.0-x gstreamer1.0-alsa gstreamer1.0-gl gstreamer1.0-gtk3 gstreamer1.0-qt5 gstreamer1.0-pulseaudio
