<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="alpha_system"
               params="prefix serial_port initial_positions_file use_sim:=^|false use_fake_hardware:=^true">

    <xacro:property name="initial_positions_file"
                    default="$(arg initial_positions_file)" />
    <xacro:property name="initial_positions"
                    value="${xacro.load_yaml(initial_positions_file)['initial_positions']}" />

    <ros2_control name="ReachAlpha5"
                  type="system">

      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>

      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>reach_hardware/Alpha5Hardware</plugin>
            <param name="serial_port">${serial_port}</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>

      <joint name="${prefix}axis_a">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">0.015</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.003</param>
          <param name="max">0.003</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_a']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_b">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.22</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.8726646</param>
          <param name="max">0.8726646</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_b']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_c">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.22</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.5235988</param>
          <param name="max">0.5235988</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_c']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_d">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">3.49</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.5235988</param>
          <param name="max">0.5235988</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_d']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

      <joint name="${prefix}axis_e">
        <command_interface name="position">
          <param name="min">0</param>
          <param name="max">6.14</param>
        </command_interface>
        <command_interface name="velocity">
          <param name="min">-0.5235988</param>
          <param name="max">0.5235988</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['axis_e']}</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
