<?xml version="1.0"?>
<robot name="alpha"
       xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- import main macros -->
  <xacro:include filename="$(find reach_description)/description/alpha_5/urdf.xacro" />
  <xacro:include filename="$(find reach_description)/description/alpha_5/ros2_control.xacro" />
  <xacro:include filename="$(find reach_description)/description/alpha_5/end_effectors/standard_jaws.urdf.xacro" />

  <!-- parameters -->
  <xacro:arg name="use_mock_hardware"
             default="true" />
  <xacro:arg name="serial_port"
             default="" />
  <xacro:arg name="prefix"
             default="" />
  <xacro:arg name="use_sim"
             default="false" />
  <xacro:arg name="parent"
             default="world" />

  <!-- initial positions used for simulation -->
  <xacro:arg name="initial_positions_file"
             default="$(find reach_description)/config/alpha_5/initial_positions.yaml" />

  <xacro:property name="prefix"
                  value="$(arg prefix)" />
  <xacro:property name="use_sim"
                  value="$(arg use_sim)" />

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <!-- arm -->
  <xacro:alpha_urdf parent="$(arg parent)"
                    prefix="${prefix}">
    <origin xyz="0 0 0"
            rpy="0 0 0" />
  </xacro:alpha_urdf>

  <!-- end effector -->
  <xacro:standard_jaws parent="${prefix}rs1_124_link"
                       prefix="${prefix}"
                       axis_a="${prefix}axis_a">
  </xacro:standard_jaws>

  <!-- ros2_control interface -->
  <xacro:alpha_system prefix="${prefix}"
                      serial_port="$(arg serial_port)"
                      initial_positions_file="$(arg initial_positions_file)"
                      use_sim="${use_sim}"
                      use_mock_hardware="$(arg use_mock_hardware)" />

</robot>
